# Предобработка данных, проект

<div style="border:solid green 2px; padding: 20px">
<b>Добрый вечер, Алексей!</b>

Меня зовут Федя Мушенок, и я буду проверять твой проект. Обычно я выполняю роль наставника, но сегодня я помогаю команде ревьюверов, чтобы ускорить проверку. Предлагаю общаться на «ты» :) Но если это не удобно - дай знать, и мы перейдем на "вы". 

Моя основная цель — не указать на совершенные тобою ошибки, а поделиться своим опытом и помочь тебе стать аналитиком данных. Ты уже проделал большую работу над проектом, но давай сделаем его еще лучше. Ниже ты найдешь мои комментарии - **пожалуйста, не перемещай, не изменяй и не удаляй их**. Увидев у тебя ошибку, в первый раз я лишь укажу на ее наличие и дам тебе возможность самой найти и исправить ее. На реальной работе твой начальник будет поступать так же, а я пытаюсь подготовить тебя именно к работе аналитиком. Но если ты пока не справишься с такой задачей - при следующей проверке я дам более точную подсказку. Я буду использовать цветовую разметку:


<div class="alert alert-danger">
<b>Комментарий ревьюера ❌:</b>
Так выделены самые важные замечания. Без их отработки проект не будет принят.
</div>

<div class="alert alert-warning">
<b>Комментарий ревьюера ⚠️:</b>
Так выделены небольшие замечания. Я надеюсь, что их ты тоже учтешь - твой проект от этого станет только лучше. Но настаивать на их отработке не буду.
</div>

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b>Так я выделяю все остальные комментарии.
</div>
    
Давай работать над проектом в диалоге: **если ты что-то меняешь в проекте или отвечаешь на мои комменатри — пиши об этом.** Мне будет легче отследить изменения, если ты выделишь свои комментарии:
<div class="alert alert-info"> <b>Комментарий студента:</b> Например, вот так.</div>

Всё это поможет выполнить повторную проверку твоего проекта оперативнее. 
</div>

<div class="alert alert-success">
<b>Комментарий ревьюера v2 ✔️:</b> 
    Алексей, доброе утро.
  Спасибо, что доработал работу - теперь всё отлично. Я оставил по тексту несколько комментариев в ответ на твои вопросы. Ничего переделывать не надо. Я отправляю работу тебе чтобы ты прочитал эти комментарии. После того, как прочитаешь - отправляй мне и я сразу же её приму.  
</div>

<div class="alert alert-info"> <b>Комментарий студента:</b> Блин, совсем забыл про transform, спасибо что напомнил. Ну и да, стаковерфлоу это сила. Спасибо ещё раз.</div>

# Описание проекта


## Заказчик — кредитный отдел банка. 
Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. 

Входные данные от банка — статистика о платёжеспособности клиентов.
Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

## Описание данных

    children — количество детей в семье
    days_employed — общий трудовой стаж в днях
    dob_years — возраст клиента в годах
    education — уровень образования клиента
    education_id — идентификатор уровня образования
    family_status — семейное положение
    family_status_id — идентификатор семейного положения
    gender — пол клиента
    income_type — тип занятости
    debt — имел ли задолженность по возврату кредитов
    total_income — ежемесячный доход
    purpose — цель получения кредита

## План работы:
### 1. Предобработка данных
    Обработка пропущенных значений, дубликатов, некорректных значений, проверка и коррректировка типов данных.
### 2. Категоризация
    Разбиение данных по категориям для ответов на заданные заказчиком вопросы.
### 3. Ответы на вопросы заказчика.
    - Есть ли зависимость между количеством детей и возвратом кредита в срок?
    - Есть ли зависимость между семейным положением и возвратом кредита в срок?
    - Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
    - Как разные цели кредита влияют на его возврат в срок?
### 4. Общий вывод

### Шаг 1. Откройте таблицу и изучите общую информацию о данных

подключение библиотек

In [334]:
import pandas as pd

чтение данных и получение общей информации

In [335]:
# читам с яндекса, если проект локально - то с локального ресурса
try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv(r'c:\Users\sax\data.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

посмотрим первые 10 строк

In [336]:
data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

In [337]:
data.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,1.935100e+04
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,1.674223e+05
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,1.029716e+05
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,2.066726e+04
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,1.030532e+05
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,1.450179e+05
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,2.034351e+05
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,2.265604e+06

посмотрим уникальные значения

In [338]:
for col in data.columns:
    print('Уникальные по колонке', col,":", data[col].unique(), '\n')

Уникальные по колонке children : [ 1  0  3  2 -1  4 20  5]

Уникальные по колонке days_employed : [-8437.67302776 -4024.80375385 -5623.42261023 ... -2113.3468877
 -3112.4817052  -1984.50758853]

Уникальные по колонке dob_years : [42 36 33 32 53 27 43 50 35 41 40 65 54 56 26 48 24 21 57 67 28 63 62 47
 34 68 25 31 30 20 49 37 45 61 64 44 52 46 23 38 39 51  0 59 29 60 55 58
 71 22 73 66 69 19 72 70 74 75]

Уникальные по колонке education : ['высшее' 'среднее' 'Среднее' 'СРЕДНЕЕ' 'ВЫСШЕЕ' 'неоконченное высшее'
 'начальное' 'Высшее' 'НЕОКОНЧЕННОЕ ВЫСШЕЕ' 'Неоконченное высшее'
 'НАЧАЛЬНОЕ' 'Начальное' 'Ученая степень' 'УЧЕНАЯ СТЕПЕНЬ'
 'ученая степень']

Уникальные по колонке education_id : [0 1 2 3 4]

Уникальные по колонке family_status : ['женат / замужем' 'гражданский брак' 'вдовец / вдова' 'в разводе'
 'Не женат / не замужем']

Уникальные по колонке family_status_id : [0 1 2 3 4]

Уникальные по колонке gender : ['F' 'M' 'XNA']

Уникальные по колонке income_type : ['сотрудник' 'пенсионер' 'компаньон' 'госслужащий' 'безработный'
 'предприниматель' 'студент' 'в декрете']

Уникальные по колонке debt : [0 1]

Уникальные по колонке total_income : [253875.6394526  112080.01410244 145885.95229686 ...  89672.56115303
 244093.05050043  82047.41889948]

Уникальные по колонке purpose : ['покупка жилья' 'приобретение автомобиля' 'дополнительное образование'
 'сыграть свадьбу' 'операции с жильем' 'образование'
 'на проведение свадьбы' 'покупка жилья для семьи' 'покупка недвижимости'
 'покупка коммерческой недвижимости' 'покупка жилой недвижимости'
 'строительство собственной недвижимости' 'недвижимость'
 'строительство недвижимости' 'на покупку подержанного автомобиля'
 'на покупку своего автомобиля' 'операции с коммерческой недвижимостью'
 'строительство жилой недвижимости' 'жилье'
 'операции со своей недвижимостью' 'автомобили' 'заняться образованием'
 'сделка с подержанным автомобилем' 'получение образования' 'автомобиль'
 'свадьба' 'получение дополнительного образования' 'покупка своего жилья'
 'операции с недвижимостью' 'получение высшего образования'
 'свой автомобиль' 'сделка с автомобилем' 'профильное образование'
 'высшее образование' 'покупка жилья для сдачи' 'на покупку автомобиля'
 'ремонт жилью' 'заняться высшим образованием']

In [339]:
# запомним количество строк в датасете
rows_in_dataset = data.shape[0]
print(rows_in_dataset)

21525

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Отлично!
</div>

## Шаг 2. Предобработка данных

### 1. колонка children: значения -1 и 20 явно выбиваются из общего ряда.

In [340]:
# посмотрим насколько веская ошибка
err_children = data[(data['children'] == -1) | (data['children'] == 20)]['children'].count()
# процент ошибочных записей в поле children
print('Процент ошибочных записей в поле children {:.4%}'.format(err_children / rows_in_dataset))

Процент ошибочных записей в поле children 0.5714%

значение "-1" явно обозначает отсутствие детей, поправим на 0

In [341]:
data.loc[(data['children'] == -1), 'children'] = 0

значение "20" возможно связано с механическое ошибкой при вводе данных, предположим что это должно быть "2" (цифры 2 и 0 на дополнительной клавиатуре расположены рядом, оператор случайно нажал 2 и 0 вместе, вместо 2), исправим 20 на 2

In [342]:
data.loc[(data['children'] == 20), 'children'] = 2

проверим уникальные значения в колонке children

In [343]:
print(*list(data['children'].unique()))

1 0 3 2 4 5

In [344]:
err_children = data[(data['children'] == -1) | (data['children'] == 20)]['children'].count()
# процент ошибочных записей в поле children
print('Процент ошибочных записей в поле children {:.4%}'.format(err_children / rows_in_dataset))

Процент ошибочных записей в поле children 0.0000%

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Замена обоснована!
</div>

### 2. колонка days_employed 
#### 1. содержит положительные, отрицательные и пропущенные значения.

##### - отрицательные значения

In [345]:
# список вариантов занятости для строк с отрицательными значениями
print(*list(data[data['days_employed'] < 0]['income_type'].unique()))

сотрудник компаньон госслужащий студент предприниматель в декрете

похоже это всё работающие люди (условно примем "в декрете" как работающих)

In [346]:
# взглянем подробнее на строки с отрицательными значениями первые пять отсортированного списка
dsorted = data[data['days_employed'] < 0].sort_values(by='days_employed', ascending=False)
dsorted.head(5)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
17437,1,-24.141633,31,среднее,1,женат / замужем,0,F,сотрудник,1,166952.415427,высшее образование
8336,0,-24.240695,32,высшее,0,Не женат / не замужем,4,M,сотрудник,0,124115.373655,получение дополнительного образования
6157,2,-30.195337,47,среднее,1,гражданский брак,1,M,компаньон,0,231461.185606,свадьба
9683,0,-33.520665,43,среднее,1,Не женат / не замужем,4,M,сотрудник,1,128555.897209,приобретение автомобиля
2127,1,-34.701045,31,высшее,0,женат / замужем,0,F,компаньон,0,90557.994311,получение образования

In [347]:
# взглянем подробнее на строки с отрицательными значениями последние пять отсортированного списка
dsorted.tail(5)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
16825,0,-16119.687737,64,среднее,1,женат / замужем,0,F,сотрудник,0,91527.685995,покупка жилой недвижимости
17838,0,-16264.699501,59,среднее,1,женат / замужем,0,F,сотрудник,0,51238.967133,на покупку автомобиля
7329,0,-16593.472817,60,высшее,0,женат / замужем,0,F,сотрудник,0,124697.846781,заняться высшим образованием
4299,0,-17615.563266,61,среднее,1,женат / замужем,0,F,компаньон,0,122560.741753,покупка жилья
16335,1,-18388.949901,61,среднее,1,женат / замужем,0,F,сотрудник,0,186178.934089,операции с недвижимостью

In [348]:
# сколько дней отработал человек с максимальным стажем
max_days = - dsorted.tail(1).reset_index(drop=True)['days_employed'][0]
max_days

18388.949900568383

In [349]:
# столько лет отработал человек с максимальным стажем
max_days / 365

50.38068465909146

приличный трудовой стаж для 61 года, но всё в пределах разумного

#### Вывод: отрицательные значения в колонке "days_employed" содержат "перевернутые" дни, отработанные с начала трудового стажа, для дальнейшей обработки надо их домножить на -1.
Причиной появления считаю неправильный расчет стажа в днях: из даты начала трудового стажа вычли дату заполнение анкеты, получили отрицательное число.

##### - положительные значения

In [350]:
# список вариантов занятости для строк с положительными значениями
print(*list(data[data['days_employed'] > 0]['income_type'].unique()))

пенсионер безработный

взглянем подробнее на строки с положительными значениями

In [351]:
# первые пять значений отсортированного списка
dsorted2 = data[data['days_employed'] > 0].sort_values(by='days_employed', ascending=False)
dsorted2.head(5)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
6954,0,401755.400475,56,среднее,1,вдовец / вдова,2,F,пенсионер,0,176278.441171,ремонт жилью
10006,0,401715.811749,69,высшее,0,Не женат / не замужем,4,F,пенсионер,0,57390.256908,получение образования
7664,1,401675.093434,61,среднее,1,женат / замужем,0,F,пенсионер,0,126214.519212,операции с жильем
2156,0,401674.466633,60,среднее,1,женат / замужем,0,M,пенсионер,0,325395.724541,автомобили
7794,0,401663.850046,61,среднее,1,гражданский брак,1,F,пенсионер,0,48286.441362,свадьба

In [352]:
# последние 5 значений отсортрованного списка
dsorted2.tail(5)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
7229,1,328827.345667,32,среднее,1,гражданский брак,1,F,пенсионер,0,122162.965695,сыграть свадьбу
14783,0,328795.726728,62,высшее,0,женат / замужем,0,F,пенсионер,0,79940.196752,на покупку своего автомобиля
17782,0,328771.341387,56,среднее,1,женат / замужем,0,F,пенсионер,0,68648.047062,операции с коммерческой недвижимостью
9328,2,328734.923996,41,высшее,0,женат / замужем,0,M,пенсионер,0,126997.497760,операции со своей недвижимостью
20444,0,328728.720605,72,среднее,1,вдовец / вдова,2,F,пенсионер,0,96519.339647,покупка жилья для семьи

In [353]:
#прикинем количество лет стажа у рекордсмена
max_days2 = dsorted2.head(1).reset_index(drop=True)['days_employed'][0]
print(max_days2 / 365)

1100.6997273296713

ну нет, столько лет стажа не бывает, видимо это не дни. 
Ну предположим что это часы, но лучше бы уточнить у оператора данных.
Вообще в яндексе не нашёл подобную информацию, а вот гугл (правда на английском) говорит что время начало работы именно в часах считается. Например: "Date of Employment Definition: 136 Samples | Law Insider
https://www.lawinsider.com/dictionary/date-of-employment#:~:text=Date%20of%20Employment%20means%20the,performs%20an%20Hour%20of%20Service.&text=Date%20of%20Employment%20means%20and,the%20Bank%20as%20an%20Employee."

приятность в том, что эта колонка не влияет на выводы, а значит наше допущение для выводов имеет не особо важное значение.

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Это радует )
</div>

#### Вывод: положительные значения в колонке "days_employed" содержат количество часов, отработанные с начала трудового стажа, для дальнейшей обработки надо их поделить на 24

Скорректируем положительные и отрицательные значения в колонке days_employed

In [354]:
# функция для коррекции days_employed
def correct_days_employed(el):
    if el > 0:
        return el / 24
    elif el < 0:
        return -el
    else:
        return el

data['days_employed'] = data['days_employed'].apply(correct_days_employed)

##### - отсутствующие значения

In [355]:
# посмотрим на отсутствующие значения в колонке days_employed
data[data['days_employed'].isna()].head(5)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
26,0,NaN,41,среднее,1,женат / замужем,0,M,госслужащий,0,NaN,образование
29,0,NaN,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,NaN,строительство жилой недвижимости
41,0,NaN,50,среднее,1,женат / замужем,0,F,госслужащий,0,NaN,сделка с подержанным автомобилем
55,0,NaN,54,среднее,1,гражданский брак,1,F,пенсионер,1,NaN,сыграть свадьбу

In [356]:
# процент ошибочных записей в поле days_employed
err_days = data[data['days_employed'].isna()]['children'].count()
print('Процент ошибочных записей в поле days_employed {:.4%}'.format(err_days / rows_in_dataset))

Процент ошибочных записей в поле days_employed 10.0999%

отсутствующие значение надо чем то заполнять, предлагаю заполнить медианным значением, собранным в разрезе видов занятости. Собственно в задании это и написано, а медиану берем потому что медиана более устойчива к появление резких граничных значений, чем среднее.

In [357]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [358]:
# для каждого типа дохода посчитаем медиану по колонке days_employed по всем ненулевым значениям
# затем для каждого пустого значения в колонке days_employed в разрезе типов дохода заполним полученной медианой
for income_type in list(data['income_type'].unique()):
    median = data[data['income_type'] == income_type]['days_employed'].median()
    data.loc[(data['income_type'] == income_type) & (data['days_employed'].isna()), 'days_employed'] = median
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

<div class="alert alert-warning">
<b>Комментарий ревьюера ⚠️:</b>
Для оценки медианных значений по группа лучше использовать комбинацию groupby() и aggregate(), а для заполнения пропусков - fillna().    
</div>

<div class="alert alert-info"> в принципе если это не ошибка, а лишь рекомендация, я оставлю с твоего позволения все как есть. Просто к сожалению в курсе не затрагивается тема того, как считается медиана по столбцу, в документации к pandas удалось найти параметр skipnabool, default True, то есть медиана по умолчанию не включает в себя значения nan, что хорошо, но увы когда я писал этот код об этом я ещё не знал. Теперь знаю и буду применять. Спасибо. </div>

<div class="alert alert-success">
<b>Комментарий ревьюера v2 ✔️:</b> Всё верно - это лишь рекомендация на будущее.
</div>

In [359]:
# сагрегируем примерно так
df1 = data.groupby('income_type')['days_employed'].agg(['median', 'mean'], axis=0).reset_index()
df1

       income_type        median          mean
0      безработный  15267.235531  15267.235531
1        в декрете   3296.759962   3296.759962
2      госслужащий   2689.368353   3328.308350
3        компаньон   1547.382223   2055.165652
4        пенсионер  15217.221094  15209.415152
5  предприниматель    520.848083    520.848083
6        сотрудник   1574.202821   2251.736421
7          студент    578.751554    578.751554

<div class="alert alert-info"> по второй части замечания, ты имеешь в виду что надо заполнять примерно так:
 data.loc[(data['income_type'] == income_type), 'days_employed'].fillna(median), а медиану брать из построенного выше df1?
 я правильно понял ?  И поправь меня, если ошибусь - итог будет такой же, только кода меньше ?</div>

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Да, именно так!
    
  А ещё это можно выполнить в одну строчку. Посмотри вот здесь https://stackoverflow.com/a/53094066     
</div>

#### в колонке days_employed пустых значений нет.

#### заменим тип на целый

In [360]:
# заменим тип колонки на целое, для анализа дробная часть несущественна
data['days_employed'] =  data['days_employed'].astype('int')

In [361]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null int64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(1), int64(6), object(5)
memory usage: 2.0+ MB

### 2. колонка dob_years 
#### содержит пропущенное значение = 0, ошибка заполнения исходных данных.

In [362]:
# посмотрим на него
data[data['dob_years'] == 0].head(3)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
99,0,14439,0,Среднее,1,женат / замужем,0,F,пенсионер,0,71291.522491,автомобиль
149,0,2664,0,среднее,1,в разводе,3,F,сотрудник,0,70176.435951,операции с жильем
270,3,1872,0,среднее,1,женат / замужем,0,F,сотрудник,0,102166.458894,ремонт жилью

На ответы на запрошенные вопросы возраст не влияет, поэтому заполним средним значением по выборке.

In [363]:
data['dob_years'] = data['dob_years'].replace(0, int(data['dob_years'][data['dob_years'] != 0].mean()))

In [364]:
# проверим отсутствие нулевых значений в dob_years
data[data['dob_years'] == 0]['children'].count()

0

### 3. колонка gender 
#### содержит аномалию, значение = 'XNA', очевидно пол был просто не указан

In [365]:
data['gender'].unique()

array(['F', 'M', 'XNA'], dtype=object)

In [366]:
data[data['gender'] == 'XNA']

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
10701,0,2358,24,неоконченное высшее,2,гражданский брак,1,XNA,компаньон,0,203905.157261,покупка недвижимости

итак, что мы знаем про этого персонажа: 24 года, 6 лет стажа, учится, работает, находится в гражданском браке, свой бизнес, решил купить недвижимость. Вероятнее всего это мужчина, поставим пол "М"

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Хорошее обоснование.
</div>

In [367]:
data.loc[(data['gender'] == 'XNA'),'gender'] = 'M'

In [368]:
data['gender'].unique()

array(['F', 'M'], dtype=object)

### 4. колонка total_income 
#### содержит пропущенные значения

In [369]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null int64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(1), int64(6), object(5)
memory usage: 2.0+ MB

In [370]:
data[data['total_income'].isna()].head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,15217,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
26,0,2689,41,среднее,1,женат / замужем,0,M,госслужащий,0,NaN,образование
29,0,15217,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,NaN,строительство жилой недвижимости
41,0,2689,50,среднее,1,женат / замужем,0,F,госслужащий,0,NaN,сделка с подержанным автомобилем
55,0,15217,54,среднее,1,гражданский брак,1,F,пенсионер,1,NaN,сыграть свадьбу

In [371]:
# процент ошибочных записей в поле income_type
err_income = data[data['total_income'].isna()]['children'].count()
print('Процент ошибочных записей в поле total_income {:.4%}'.format(err_income / rows_in_dataset))

Процент ошибочных записей в поле total_income 10.0999%

In [372]:
data['total_income'] = data['total_income'].fillna(0)
# заполним пропуски дохода средним значением в разрезе типа дохода,
# если среднее отличается от медианы в разрезе типа дохода более чем на 10%, иначе медианой
income_types = list(data[data['total_income'] == 0]['income_type'].unique())
for income_type in income_types:
    subdata = data[(data['income_type'] == income_type) & (data['total_income'] != 0)]['total_income']
    mean = subdata.mean()
    median = subdata.median()
    try:
        if mean / median > 1.1:
            res = median
        else:
            res = mean
    except: # медиана = 0
        res = mean                                                    
    data.loc[(data['income_type'] == income_type) & (data['total_income'] == 0), 'total_income'] = res

<div class="alert alert-warning">
<b>Комментарий ревьюера ⚠️:</b> Здесь также можно использовать groupby и aggregate
</div>

In [373]:
# процент ошибочных записей в поле income_type
err_income = data[data['total_income'].isna()]['children'].count()
print('Процент ошибочных записей в поле total_income {:.4%}'.format(err_income / rows_in_dataset))

Процент ошибочных записей в поле total_income 0.0000%

#### заменим тип на целый

In [374]:
data['total_income'] = data['total_income'].astype('int')

In [375]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null int64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null int64
purpose             21525 non-null object
dtypes: int64(7), object(5)
memory usage: 2.0+ MB

## Обработка дубликатов

### общее количество полных дубликатов

In [376]:
print(f'Общее количество полных дубликатов: {data.duplicated().sum()}')
print(f'Процент полных дубликатов: {data.duplicated().sum() / data.shape[0] * 100}')

Общее количество полных дубликатов: 54
Процент полных дубликатов: 0.2508710801393728

##### Удалим полные дубликаты, получившиеся по причине неправильного ввода данных

In [377]:
data.info()
data = data.drop_duplicates()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null int64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null int64
purpose             21525 non-null object
dtypes: int64(7), object(5)
memory usage: 2.0+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 21471 entries, 0 to 21524
Data columns (total 12 columns):
children            21471 non-null int64
days_employed       21471 non-null int64
dob_years           21471 non-null int64
education           21471 non-null object
education_id        21471 non-null int64
family_status       21471 non-null object
family_status_id    21471 non-null int64
gender              21471 non-null object
income_type         21471 non-null object
debt                21471 non-null int64
total_income        21471 non-null int64
purpose             21471 non-null object
dtypes: int64(7), object(5)
memory usage: 2.1+ MB

In [378]:
print(f'Общее количество полных дубликатов: {data.duplicated().sum()}')
print(f'Процент полных дубликатов: {data.duplicated().sum() / data.shape[0] * 100}')

Общее количество полных дубликатов: 0
Процент полных дубликатов: 0.0

### столбец education

In [379]:
data['education'].unique()

array(['высшее', 'среднее', 'Среднее', 'СРЕДНЕЕ', 'ВЫСШЕЕ',
       'неоконченное высшее', 'начальное', 'Высшее',
       'НЕОКОНЧЕННОЕ ВЫСШЕЕ', 'Неоконченное высшее', 'НАЧАЛЬНОЕ',
       'Начальное', 'Ученая степень', 'УЧЕНАЯ СТЕПЕНЬ', 'ученая степень'],
      dtype=object)

в столбце явно прослеживается одни и те же значения, записанные в разном регистре. Причина появления ошибки: человеческий фактор при вводе данных ЛИБО ввод ОЧЕНЬ похожих людей. Приведем все значения к нижнему регистру.

In [380]:
data['education'] = data['education'].str.lower()

In [381]:
data['education'].unique()

array(['высшее', 'среднее', 'неоконченное высшее', 'начальное',
       'ученая степень'], dtype=object)

### столбец family_status

In [382]:
data['family_status'].unique()

array(['женат / замужем', 'гражданский брак', 'вдовец / вдова',
       'в разводе', 'Не женат / не замужем'], dtype=object)

### Удалим дубликаты

In [383]:
# код удаления дубликатов перенесен вверх, до перевода образования в нижний регистр
# а вот то, о чем я говорил ниже в моём комменатарии - 17 полных дубликатов оказалось в датафрейме
print(f'Общее количество полных дубликатов: {data.duplicated().sum()}')
print(f'Процент полных дубликатов: {data.duplicated().sum() / data.shape[0] * 100}')

Общее количество полных дубликатов: 17
Процент полных дубликатов: 0.0791765637371338

#### были удалены дубликаты, появившиеся по причине некорректного ввода данных

<div class="alert alert-danger">
<b>Комментарий ревьюера ❌:</b>
Я убеждён, что такое удаление дубликатов грозит значительными ошибками. Представь себе два типа дубликатов:
1. Возникающие в результате технических проблем - нажали два раза на кнопку "Отправить" или сбой в БД.
2. Два очень похожих клиента (например, коллеги из одного отдела и на одной должности). Два клиента различаются тем, что пришли в банк в разное время и их семейный статус был записан по-разному.
    
 Удаление первого типа дубликатов безусловно повышает качество данных.
 Удаление второго типа дубликатов приводит к нарушению распределения клиентов в выборке. Продолжая пример про двух коллег мы будет думать, что таких клиентов гораздо меньше, чем их есть на самом деле, ведь мы их удалили! В результате модель будет учиться на искажённых данных и её качество снизиться.
 
 Я попрошу тебя провести удаление только дубликатов первого типа и не удалять дубликаты второго типа. В тоже время, приведение образования и семейного положения к одному регистру - нужная процедура!   
</div>

<div class="alert alert-info"> Я оценил примерный объем подобных дубликатов первого и второго рода, получилось 0,3% от общего объема выборки. ИМХО несущественный объём, но если задача поставлена - надо удалить первых и оставить вторых. Очевидно сначала надо сделать drop_duplicated и только потом приводить семейное положение и образование к нижнему регистру. Вопрос в том, что при приведении <b> ПОСЛЕ </b>  удаления дубликатов  некоторые строки опять станут дубликатами. ИМХО четко отделить первых от вторых не получится, нужно уникальное поле - например ИД заявки или ИД кредита, которого мы не имеем. Но поставленную задачу выполнил. 54 дубликата полученных при ошибочном вводе данных удалены (это первый тип), 17 оставлены - это второй тип. </div>

<div class="alert alert-success">
<b>Комментарий ревьюера v2 ✔️:</b> Отлично! 
    В красном комментарии выше я хотел показать тебе возможность такой проблемы. В рамках этой задачи это конечно не существенно - полностью согласен с тобой. Но в других, реальных задачах это может быть значительным вкладом.
    Поэтому для меня было важно рассказать тебе об этом подводном камне.
    
</div>

## Шаг 3. Категоризация данных

Создайте два новых датафрейма со столбцами: 
education_id и education — в первом;
    family_status_id и family_status — во втором.
    Удалите из исходного датафрейма столбцы education и family_status, оставив только их идентификаторы: education_id и family_status_id.

In [384]:
education_dict = data[['education_id','education']].drop_duplicates().reset_index(drop=True)
education_dict

   education_id            education
0             0               высшее
1             1              среднее
2             2  неоконченное высшее
3             3            начальное
4             4       ученая степень

In [385]:
family_status_dict = data[['family_status_id','family_status']].drop_duplicates().reset_index(drop=True)
family_status_dict

   family_status_id          family_status
0                 0        женат / замужем
1                 1       гражданский брак
2                 2         вдовец / вдова
3                 3              в разводе
4                 4  Не женат / не замужем

In [386]:
# удалим столбцы family_status и education из исходного датафрейма
del data['family_status']
del data['education']

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Отлично!
</div>

In [387]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21471 entries, 0 to 21524
Data columns (total 10 columns):
children            21471 non-null int64
days_employed       21471 non-null int64
dob_years           21471 non-null int64
education_id        21471 non-null int64
family_status_id    21471 non-null int64
gender              21471 non-null object
income_type         21471 non-null object
debt                21471 non-null int64
total_income        21471 non-null int64
purpose             21471 non-null object
dtypes: int64(7), object(3)
memory usage: 1.8+ MB

In [388]:
# На основании диапазонов, указанных ниже, создайте столбец total_income_category с категориями:

#     0–30000 — 'E';
#     30001–50000 — 'D';
#     50001–200000 — 'C';
#     200001–1000000 — 'B';
#     1000001 и выше — 'A'.

# функция возвращает значение категории в зависимости от переданного дохода 

def category(income):
    if income <= 30000:
        return 'E'
    elif income <= 50000:
        return 'D'
    elif income < 200000:
        return 'C'   
    elif income < 1000000:
        return 'B'   
    else:
        return 'A'
    
data['total_income_category'] = data['total_income'].apply(category)

In [389]:
# количество значений по категориям дохода
data['total_income_category'].value_counts()

C    16032
B     5042
D      350
A       25
E       22
Name: total_income_category, dtype: int64

In [390]:
# Создайте функцию, которая на основании данных из столбца purpose сформирует новый столбец
# purpose_category, в который войдут следующие категории: 
# 'операции с автомобилем',
# 'операции с недвижимостью',
# 'проведение свадьбы',
# 'получение образования'

# определим словарь, в котором будут в зависимости от категории подстроки, появление которых будет относить
# purpose к той или иной категории, заполнение сделано вручную на основании уникальных значений столбца purpose
purpose_dict = {
    'операции с автомобилем': ['автомобил'],
    'операции с недвижимостью': ['жиль', 'недвиж'],
    'проведение свадьбы': ['свадьб'],
    'получение образования' : ['образова']
}

def get_purpose_category(purpose):
    for key, value in purpose_dict.items():
        for substr in value:
            if purpose.find(substr) > -1:
                return key
    return None

data['purpose_category'] = data['purpose'].apply(get_purpose_category)
data['purpose_category'].value_counts()

операции с недвижимостью    10814
операции с автомобилем       4308
получение образования        4014
проведение свадьбы           2335
Name: purpose_category, dtype: int64

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Всё верно!
</div>

## Шаг 3. Ответьте на вопросы

## Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [391]:
# все выдачи
dept_chld = pd.pivot_table(data, index='children', values='debt', aggfunc='count').reset_index()
# добавим столбец в проблемными
dept_chld['bad_debt'] = pd.pivot_table(data, index='children', values='debt', aggfunc='sum')['debt']
# хорошие = все - невозвращенные
dept_chld['good_debt'] = dept_chld['debt'] - dept_chld['bad_debt']
# отношение беспроблемных ко всем
dept_chld['ratio'] = dept_chld['good_debt'] / dept_chld['debt'] * 100
display(dept_chld.sort_values(by='ratio', ascending=False))

   children   debt  bad_debt  good_debt       ratio
5         5      9         0          9  100.000000
0         0  14154      1064      13090   92.482690
3         3    330        27        303   91.818182
1         1   4809       444       4365   90.767311
2         2   2128       202       1926   90.507519
4         4     41         4         37   90.243902

### Вывод:

Зависимость между количество детей и возвратом кредита в срок существует.

- Самое высокое значение имеют семьи с 5 детьми - 100% возврата
- Следующее высокое значение имеют семьи без детей - 92,47% возврата
- За ними идут семьи имеющие 3 детей - 91,82% возврата
- Малые семьи из 1 или 2 детей - 90,6 % возврата
- И минимальный процент возврата семьи, имеющие 4 детей - 90,2%

    Выводы: 
    1. Максимальный процент возврата у семей без детей связываю с отсутствием необходимости выделять незапланированные средства на содержание детей, отсюда более прогнозируемое исполнение планов по возврату кредита.
    2. Семьи с 4-5 детьми составляют весьма небольшой объем в выборке, показателем не являются.
    3. Семьи с 3 детьми являются многодетными и очевидно планируют семейный бюджет качественней и тщательней, отсюда малая доля невозвратов
    4. Самый большой процент невозвратов в семьях с 1 и 2 детьми, предполагаю что это молодые семьи, имеющие мало опыта в распределении финансовых потоков и планировании издержек на содержание детей.

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Всё верно! Здорово, что ты подметил малый размер выборок семей с 4-5 детьми.
</div>

## Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [392]:
# все выдачи
dept_fml = pd.pivot_table(data, index='family_status_id', values='debt', aggfunc='count').reset_index()
# добавим столбец в проблемными
dept_fml['bad_debt'] = pd.pivot_table(data, index='family_status_id', values='debt', aggfunc='sum')['debt']
# хорошие = все - невозвращенные
dept_fml['good_debt'] = dept_fml['debt'] - dept_fml['bad_debt']
# отношение беспроблемных ко всем
dept_fml['ratio'] = dept_fml['good_debt'] / dept_fml['debt'] * 100
dept_fml = dept_fml.merge(family_status_dict, how='inner', on='family_status_id')
#del dept_fml['family_status_id']
display(dept_fml[['family_status','debt','good_debt', 'bad_debt', 'ratio' ]].sort_values(by='ratio', ascending=False))

           family_status   debt  good_debt  bad_debt      ratio
2         вдовец / вдова    959        896        63  93.430657
3              в разводе   1195       1110        85  92.887029
0        женат / замужем  12344      11413       931  92.457874
1       гражданский брак   4163       3775       388  90.679798
4  Не женат / не замужем   2810       2536       274  90.249110

### Вывод

Имеется зависимость между семейным положением и возвратом кредита в срок.

    Самый высокий процент категория вдовец/вдова - 93,43%
    Следом категория в разводе - 92,89%
    Далее женат / замужем - 92,45%
    Гражданский брак - 90,65%
    Не женат / не замужем - 90,25%

Выводы:

    Люди, пожившие в браке и оставшиеся одни могут рассчитывать только на себя, отсюда лучший контроль финансовых потоков и более точное планирование.
    Живущие официальной семьей планируют семейный бюджет для функционирования семьи + семейные чаще имеют детей, отсюда лучший контроль за финансовыми потоками. 
    У остальных взгляд на жизнь видимо проще, контроля меньше, отсюда и невозвраты кредитов при ошибках планирования.

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Отлично!
</div>

## Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [393]:
# все выдачи
dept_income = pd.pivot_table(data, index='total_income_category', values='debt', aggfunc='count')
# добавим столбец c проблемными
dept_income['bad_debt'] = pd.pivot_table(data, index='total_income_category', values='debt', aggfunc='sum')['debt']
# хорошие = все - невозвращенные
dept_income['good_debt'] = dept_income['debt'] - dept_income['bad_debt']
# отношение беспроблемных ко всем
dept_income['ratio'] = dept_income['good_debt'] / dept_income['debt'] * 100
display(dept_income.sort_values(by='ratio', ascending=False))

                        debt  bad_debt  good_debt      ratio
total_income_category
D                        350        21        329  94.000000
B                       5042       356       4686  92.939310
A                         25         2         23  92.000000
C                      16032      1360      14672  91.516966
E                         22         2         20  90.909091

### Вывод

Имеется зависимость между уровнем дохода и возвратом кредита в срок.

    На первом месте уровень дохода 30-50 т.р. - 94%
    далее имеющие доход 200-1000 т.р.   - 92,94%
    далее имеющих доход более 1000 т.р. - 92%
    следующая категория 50-200 т.р.     - 91,5%
    ниже всех категория с доходом до 30 т.р.- 90,91%
    
Выводы:
    
    1. для категории 30-50 т.р. кредитная история является критически важной, возможно люди живут только от кредита до кредита, отсюда важность "непросрочки". Или это люди, имеющие неофициальный источник дохода, информацию о котором они не предоставляли в банк.
    2. для категории с доходом более 200 т.р. содержание кредита или кредитов является более простым делом по причине более высокого дохода.
    3. две нижних категории самые "проблемные", очевидно недостатки планирования бюджета при получении кредита.

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Всё верно!
</div>

## Как разные цели кредита влияют на его возврат в срок?

In [394]:
# все выдачи
dept_purp = pd.pivot_table(data, index='purpose_category', values='debt', aggfunc='count')
# добавим столбец в проблемными
dept_purp['bad_debt'] = pd.pivot_table(data, index='purpose_category', values='debt', aggfunc='sum')['debt']
# хорошие = все - невозвращенные
dept_purp['good_debt'] = dept_purp['debt'] - dept_purp['bad_debt']
# отношение беспроблемных ко всем
dept_purp['ratio'] = dept_purp['good_debt'] / dept_purp['debt'] * 100
display(dept_purp.sort_values(by='ratio', ascending=False))

                           debt  bad_debt  good_debt      ratio
purpose_category
операции с недвижимостью  10814       782      10032  92.768633
проведение свадьбы         2335       186       2149  92.034261
получение образования      4014       370       3644  90.782262
операции с автомобилем     4308       403       3905  90.645311

### Вывод

Имеется зависимость между целью получения кредита и возвратом кредита в срок.

    1. Самый возвращемый кредит на недвижимость - 92,77%
    2. Далее идет свадьба                       - 92,03%
    3. Далее идет получение образования         - 90,78%
    4. И наконец покупка автомобиля             - 90,64%
    
Выводы:
    
        1. Покупка недвижимости - это показатель уровня дохода и определенный показатель стабильности. Стабильные люди - стабильней платят.
        2. Кредит, взятый на свадьбу берут обычно в молодом возрасте, мало кто хочет испортить себе в молодости кредитную историю невозвратом кредита. Отсюда высокий процент возврата. 
        3. Образование. Берущие кредиты на образование - берут их либо для себя, а раз человек хочет учиться - молодец, будет учиться и платить, либо для детей, а дети - наше всё, значит кредит будет возвращен. Но очевидно что направление образования бывает выбрано неправильно по наклонностям или сложности, и тогда возникает ситуация "брошу учебу" - "не буду платить за кредит". 
        4. Автомобиль. Дополнительный источник расходов: ГСМ, ТО, страховка. Вероятно это не учитывается при планировании расходов на погашение кредита.

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> Отлично!
</div>

## Шаг 4. Общие выводы

На основе имеющихся таблиц вывести следущие закономерности:

    1. Наличие детей в целом негативно влияет на возврат кредита, в случае наличия детей - большую вероятность возврата имеют семьи, в которых три и более детей.
    2. Кандидаты, пожившие в браке - лучше возвращают кредит, чем живущие только "для себя"
    3. Уровень дохода влияет на вероятность возврата кредита, лучше всего возвращают кандидаты с доходом "чуть выше минимального" и кандидаты с высоким уровнем дохода.
    4. Цель кредита, повышающий уровень качества жизни и не повышающий расходы - повышает вероятность возврата кредита. 

    Худший кандидат на получение кредита по оцененным условиям: 
    - холостой/незамужний человек с 1-2 детьми, с уровнем дохода от 50 до 200 тысяч рублей берущий кредит покупку машины.
    
    Лучший кандидат на получение кредита по вероятности возвращения:
    - разведенный/вдовец без детей с доходом чуть выше минимального или с максимальным, беруший кредит на покупку недвижимости.

<div class="alert alert-success">
<b>Комментарий ревьюера ✔️:</b> 
    
Алексей, в целом, мне нравится твой проект - хорошая структура, грамотные выводы, аккуратный код. После доработки тех комментариев, что я оставил по тексту, твой проект будет идеальным! Присылай доработанную версию и буду рад его принять.
</div>